:root {
  --neutral-700: rgba(31, 37, 89, 1);
  --neutral-600: rgba(98, 102, 138, 1);
  --neutral-500: rgba(189, 191, 209, 1);
  --neutral-400: rgba(231, 232, 241, 1);
  --neutral-300: rgba(244, 244, 249, 1);
  --neutral-200: rgba(250, 250, 252, 1);
  --neutral-100: rgba(255, 255, 255, 1);
  --primaryazul-acsa: rgba(0, 58, 132, 1);
  --secondaryamarillo-acsa: rgba(255, 206, 0, 1);
  --secondaryceleste-acsa: rgba(90, 162, 255, 1);
  --secondaryblanco-acsa: rgba(255, 255, 255, 1);
  --secondarygris-claro-acsa: rgba(234, 234, 234, 1);
  --secondarygris-oscuro-acsa: rgba(91, 102, 112, 1);
  --secondaryazul-claro-acsa: rgba(206, 224, 237, 1);
  --secondaryverde-acsa: rgba(179, 240, 81, 1);
  --secondaryazul-rey-acsa: rgba(27, 104, 204, 1);
  --secondarynaranja-acsa: rgba(255, 157, 56, 1);
  --home-maincard-bg: rgba(250, 250, 252, 1);
  --logoslinkedin-blue: rgba(10, 102, 194, 1);
  --logosfacebook: rgba(24, 119, 242, 1);
  --logostwitter: rgba(29, 161, 242, 1);
  --logostelegram: rgba(40, 168, 233, 1);
  --logoswhatsapp: rgba(86, 208, 98, 1);
  --flagblue: rgba(2, 51, 173, 1);
  --illustrationsgreen: rgba(131, 228, 54, 1);
  --illustrationsdark-red: rgba(198, 24, 44, 1);
  --illustrationsblue: rgba(108, 158, 255, 1);
  --illustrationslight-blue: rgba(161, 203, 255, 1);
  --illustrationsoverlay: rgba(5, 9, 38, 1);
  --illustrationsoverlay-2: rgba(5, 9, 38, 0.15);
  --illustrationslight-green: rgba(227, 253, 222, 1);
  --illustrationsdark-purple: rgba(84, 15, 182, 1);
  --iconsred-primary: rgba(244, 38, 62, 1);
  --iconsred-secondary: rgba(255, 235, 236, 1);
  --iconsyellow-primary: rgba(255, 205, 29, 1);
  --iconsyellow-secondary: rgba(255, 247, 222, 1);
  --iconsblue-primary: rgba(27, 118, 255, 1);
  --iconsblue-secondary: rgba(231, 240, 255, 1);
  --iconsteal-primary: rgba(63, 220, 255, 1);
  --iconsteal-secondary: rgba(240, 252, 255, 1);
  --iconspurple-primary: rgba(120, 44, 228, 1);
  --iconspurple-secondary: rgba(247, 242, 253, 1);
  --iconswhite-primary: rgba(255, 255, 255, 1);
  --iconsorange-primary: rgba(255, 150, 27, 1);
  --iconsorange-secondary: rgba(255, 239, 227, 1);
  --iconsfacebook: rgba(24, 119, 242, 1);
  --iconstwitter: rgba(29, 161, 242, 1);
  --iconslinkedin: rgba(10, 102, 194, 1);
  --iconsyoutube: rgba(255, 0, 0, 1);
  --iconstelegram: rgba(40, 168, 233, 1);
  --iconswhatsapp: rgba(86, 208, 98, 1);
  --iconspinterest: rgba(230, 0, 35, 1);
  --headings-h1-font-family: "Roboto-Bold", Helvetica;
  --headings-h1-font-weight: 700;
  --headings-h1-font-size: 48px;
  --headings-h1-letter-spacing: -0.48px;
  --headings-h1-line-height: 54px;
  --headings-h1-font-style: normal;
  --headings-h2-font-family: "Roboto-Bold", Helvetica;
  --headings-h2-font-weight: 700;
  --headings-h2-font-size: 40px;
  --headings-h2-letter-spacing: -0.76px;
  --headings-h2-line-height: 42px;
  --headings-h2-font-style: normal;
  --headings-h3-font-family: "Roboto-Medium", Helvetica;
  --headings-h3-font-weight: 500;
  --headings-h3-font-size: 24px;
  --headings-h3-letter-spacing: -0.48px;
  --headings-h3-line-height: 32px;
  --headings-h3-font-style: normal;
  --headings-h4-font-family: "Roboto-Medium", Helvetica;
  --headings-h4-font-weight: 500;
  --headings-h4-font-size: 22px;
  --headings-h4-letter-spacing: -0.44px;
  --headings-h4-line-height: 25px;
  --headings-h4-font-style: normal;
  --headings-h5-font-family: "Roboto-Medium", Helvetica;
  --headings-h5-font-weight: 500;
  --headings-h5-font-size: 18px;
  --headings-h5-letter-spacing: -0.36px;
  --headings-h5-line-height: 22px;
  --headings-h5-font-style: normal;
  --headings-h6-font-family: "Roboto-Medium", Helvetica;
  --headings-h6-font-weight: 500;
  --headings-h6-font-size: 16px;
  --headings-h6-letter-spacing: -0.32px;
  --headings-h6-line-height: 19px;
  --headings-h6-font-style: normal;
  --headings-mobile-size-1-font-family: "Roboto-Bold", Helvetica;
  --headings-mobile-size-1-font-weight: 700;
  --headings-mobile-size-1-font-size: 32px;
  --headings-mobile-size-1-letter-spacing: -1px;
  --headings-mobile-size-1-line-height: 39px;
  --headings-mobile-size-1-font-style: normal;
  --headings-mobile-size-2-font-family: "Roboto-Bold", Helvetica;
  --headings-mobile-size-2-font-weight: 700;
  --headings-mobile-size-2-font-size: 30px;
  --headings-mobile-size-2-letter-spacing: -1px;
  --headings-mobile-size-2-line-height: 40px;
  --headings-mobile-size-2-font-style: normal;
  --paragraph-large-font-family: "Roboto-Regular", Helvetica;
  --paragraph-large-font-weight: 400;
  --paragraph-large-font-size: 24px;
  --paragraph-large-letter-spacing: -0.24px;
  --paragraph-large-line-height: 38px;
  --paragraph-large-font-style: normal;
  --paragraph-default-font-family: "Roboto-Regular", Helvetica;
  --paragraph-default-font-weight: 400;
  --paragraph-default-font-size: 16px;
  --paragraph-default-letter-spacing: -0.16px;
  --paragraph-default-line-height: 24px;
  --paragraph-default-font-style: normal;
  --paragraph-small-font-family: "Roboto-Regular", Helvetica;
  --paragraph-small-font-weight: 400;
  --paragraph-small-font-size: 15px;
  --paragraph-small-letter-spacing: -0.3px;
  --paragraph-small-line-height: 20px;
  --paragraph-small-font-style: normal;
  --paragraphs-large-mobile-font-family: "Roboto-Regular", Helvetica;
  --paragraphs-large-mobile-font-weight: 400;
  --paragraphs-large-mobile-font-size: 20px;
  --paragraphs-large-mobile-letter-spacing: -0.2px;
  --paragraphs-large-mobile-line-height: 32px;
  --paragraphs-large-mobile-font-style: normal;
  --other-nav-link-item-font-family: "Roboto-Regular", Helvetica;
  --other-nav-link-item-font-weight: 400;
  --other-nav-link-item-font-size: 16px;
  --other-nav-link-item-letter-spacing: -0.32px;
  --other-nav-link-item-line-height: 18px;
  --other-nav-link-item-font-style: normal;
  --other-link-font-family: "Roboto-Medium", Helvetica;
  --other-link-font-weight: 500;
  --other-link-font-size: 18px;
  --other-link-letter-spacing: -0.18px;
  --other-link-line-height: 22px;
  --other-link-font-style: normal;
  --other-subtitle-font-family: "Roboto-Regular", Helvetica;
  --other-subtitle-font-weight: 400;
  --other-subtitle-font-size: 18px;
  --other-subtitle-letter-spacing: -0.36px;
  --other-subtitle-line-height: 18px;
  --other-subtitle-font-style: normal;
  --other-blog-card-title-font-family: "Roboto-Medium", Helvetica;
  --other-blog-card-title-font-weight: 500;
  --other-blog-card-title-font-size: 20px;
  --other-blog-card-title-letter-spacing: -0.4px;
  --other-blog-card-title-line-height: 28px;
  --other-blog-card-title-font-style: normal;
  --other-block-quote-font-family: "Roboto-Regular", Helvetica;
  --other-block-quote-font-weight: 400;
  --other-block-quote-font-size: 20px;
  --other-block-quote-letter-spacing: -0.2px;
  --other-block-quote-line-height: 36px;
  --other-block-quote-font-style: normal;
  --other-blog-card-author-font-family: "Roboto-Medium", Helvetica;
  --other-blog-card-author-font-weight: 500;
  --other-blog-card-author-font-size: 16px;
  --other-blog-card-author-letter-spacing: -0.16px;
  --other-blog-card-author-line-height: 18px;
  --other-blog-card-author-font-style: normal;
  --other-blog-card-date-font-family: "Roboto-Regular", Helvetica;
  --other-blog-card-date-font-weight: 400;
  --other-blog-card-date-font-size: 14px;
  --other-blog-card-date-letter-spacing: -0.14px;
  --other-blog-card-date-line-height: 18px;
  --other-blog-card-date-font-style: normal;
  --other-blog-card-category-font-family: "Roboto-Regular", Helvetica;
  --other-blog-card-category-font-weight: 400;
  --other-blog-card-category-font-size: 16px;
  --other-blog-card-category-letter-spacing: 0px;
  --other-blog-card-category-line-height: 16px;
  --other-blog-card-category-font-style: normal;
  --other-big-numbers-font-family: "Roboto-Medium", Helvetica;
  --other-big-numbers-font-weight: 500;
  --other-big-numbers-font-size: 48px;
  --other-big-numbers-letter-spacing: -0.48px;
  --other-big-numbers-line-height: 50px;
  --other-big-numbers-font-style: normal;
  --other-calendar-month-font-family: "Roboto-Bold", Helvetica;
  --other-calendar-month-font-weight: 700;
  --other-calendar-month-font-size: 20px;
  --other-calendar-month-letter-spacing: 0.8px;
  --other-calendar-month-line-height: normal;
  --other-calendar-month-font-style: normal;
  --other-big-numbers-bold-font-family: "Roboto-Bold", Helvetica;
  --other-big-numbers-bold-font-weight: 700;
  --other-big-numbers-bold-font-size: 48px;
  --other-big-numbers-bold-letter-spacing: 0px;
  --other-big-numbers-bold-line-height: 50px;
  --other-big-numbers-bold-font-style: normal;
  --other-conference-big-numbers-font-family: "Roboto-Bold", Helvetica;
  --other-conference-big-numbers-font-weight: 700;
  --other-conference-big-numbers-font-size: 28px;
  --other-conference-big-numbers-letter-spacing: 0px;
  --other-conference-big-numbers-line-height: 34px;
  --other-conference-big-numbers-font-style: normal;
  --other-mini-font-family: "Roboto-Regular", Helvetica;
  --other-mini-font-weight: 400;
  --other-mini-font-size: 12px;
  --other-mini-letter-spacing: -0.12px;
  --other-mini-line-height: 12px;
  --other-mini-font-style: normal;
  --buttons-button-font-family: "Roboto-Medium", Helvetica;
  --buttons-button-font-weight: 500;
  --buttons-button-font-size: 16px;
  --buttons-button-letter-spacing: -0.30000001192092896px;
  --buttons-button-line-height: 18px;
  --buttons-button-font-style: normal;
  --buttons-small-button-font-family: "Roboto-Medium", Helvetica;
  --buttons-small-button-font-weight: 500;
  --buttons-small-button-font-size: 14px;
  --buttons-small-button-letter-spacing: 0px;
  --buttons-small-button-line-height: 16px;
  --buttons-small-button-font-style: normal;
  --buttons-large-button-font-family: "Roboto-Medium", Helvetica;
  --buttons-large-button-font-weight: 500;
  --buttons-large-button-font-size: 18px;
  --buttons-large-button-letter-spacing: -0.30000001192092896px;
  --buttons-large-button-line-height: 22px;
  --buttons-large-button-font-style: normal;
  --buttons-secondary-button-font-family: "Roboto-Regular", Helvetica;
  --buttons-secondary-button-font-weight: 400;
  --buttons-secondary-button-font-size: 16px;
  --buttons-secondary-button-letter-spacing: -0.16px;
  --buttons-secondary-button-line-height: 17px;
  --buttons-secondary-button-font-style: normal;
  --buttons-small-secondary-button-font-family: "Roboto-Regular", Helvetica;
  --buttons-small-secondary-button-font-weight: 400;
  --buttons-small-secondary-button-font-size: 16px;
  --buttons-small-secondary-button-letter-spacing: -0.16px;
  --buttons-small-secondary-button-line-height: 16px;
  --buttons-small-secondary-button-font-style: normal;
  --buttons-large-secondary-button-font-family: "Roboto-Regular", Helvetica;
  --buttons-large-secondary-button-font-weight: 400;
  --buttons-large-secondary-button-font-size: 18px;
  --buttons-large-secondary-button-letter-spacing: -0.30000001192092896px;
  --buttons-large-secondary-button-line-height: 22px;
  --buttons-large-secondary-button-font-style: normal;
  --footer-copyright-text-font-family: "Roboto-Regular", Helvetica;
  --footer-copyright-text-font-weight: 400;
  --footer-copyright-text-font-size: 16px;
  --footer-copyright-text-letter-spacing: -0.16px;
  --footer-copyright-text-line-height: 18px;
  --footer-copyright-text-font-style: normal;
  --footer-view-more-font-family: "Roboto-Medium", Helvetica;
  --footer-view-more-font-weight: 500;
  --footer-view-more-font-size: 16px;
  --footer-view-more-letter-spacing: -0.16px;
  --footer-view-more-line-height: 18px;
  --footer-view-more-font-style: normal;
  --e-book: 0px 5.369999885559082px 13.40999984741211px 0px rgba(0, 0, 0, 0.04),
    0px 4.019999980926514px 14.75px 0px rgba(4, 12, 40, 0.02);
  --green: 0px 5.251116752624512px 5.251116752624512px 0px rgba(131, 228, 54, 0.25);
  --small-shadow: 0px 5px 8px 0px rgba(33, 11, 121, 0.08);
  --dark-BG: 0px 7.546551704406738px 35.622764587402344px 0px rgba(4, 12, 40, 0.34),
    0px 0.9366727471351624px 9.366726875305176px 0px rgba(4, 12, 40, 0.14);
  --shadows-shadow-1: 0px 3px 10px 0px rgba(31, 37, 89, 0.04);
  --shadows-shadow-2: 0px 4px 12px 0px rgba(8, 15, 52, 0.06);
  --shadows-shadow-3: 0px 8px 18px 0px rgba(31, 37, 89, 0.05);
  --shadows-shadow-4: 0px 16px 51px 0px rgba(31, 37, 89, 0.1);
  --shadows-shadow-5: 0px 24px 75px 0px rgba(21, 16, 152, 0.05);
  --shadows-shadow-6: 0px 45px 84px 0px rgba(8, 15, 52, 0.19);
  --buttons-primary-default: 0px 2px 6px 0px rgba(31, 37, 89, 0.16);
  --buttons-secondary-default: 0px 1px 4px 0px rgba(31, 37, 89, 0.05);
  --titles-heading-h1: 0px 2px 4px 0px rgba(222, 42, 74, 0.05);
  --titles-heading-h6: 0px 2px 4px 0px rgba(222, 42, 74, 0.05);
  --titles-heading-h5: 0px 2px 4px 0px rgba(222, 42, 74, 0.05);
  --titles-heading-h4: 0px 2px 4px 0px rgba(222, 42, 74, 0.05);
  --titles-heading-h3: 0px 2px 4px 0px rgba(222, 42, 74, 0.05);
  --inputs-1: 0px 1px 3px 0px rgba(31, 37, 89, 0.07), 0px 2px 8px 0px rgba(244, 38, 62, 0.04);
  --inputs-hover: 0px 4px 10px 0px rgba(31, 37, 89, 0.07), 0px 2px 11px 0px rgba(244, 38, 62, 0.06);
  --inputs-arrow-closed: 0px 2px 6px 0px rgba(38, 54, 200, 0.05), 0px -1px 3px 0px rgba(31, 37, 89, 0.01);
  --inputs-arrow-open: 0px 4px 9px 0px rgba(38, 54, 200, 0.08), 0px -1px 5px 0px rgba(31, 37, 89, 0.01);
  --inputs-check-boxes-inner: ;
  --banners-CTA-blue: 0px 4px 30px 0px rgba(27, 118, 255, 0.3);
  --home-main-image: 0px 3px 6px 0px rgba(31, 37, 89, 0.08);
  --home-main-card: 0px 3px 10px 0px rgba(31, 37, 89, 0.04);
  --marketing-featured-image: 0px 3px 10px 0px rgba(31, 37, 89, 0.04), 0px 2px 14px 0px rgba(31, 37, 89, 0.04);
  --icon-shadow-icon: 0px 4px 6px 0px rgba(85, 52, 21, 0.19);
  --icon-red-icon: 0px 6px 14px 0px rgba(244, 38, 62, 0.29);
  --icon-blue-icon: 0px 2px 6px 0px rgba(27, 118, 255, 0.29);
  --icon-cyan-icon: 0px 6px 14px 0px rgba(63, 220, 255, 0.22), 0px 0px 4px 0px rgba(31, 37, 89, 0.05);
  --icon-purple-icon: 0px 5px 6px 0px rgba(120, 44, 228, 0.19);
  --icon-yellow-icon: 0px 3.690000057220459px 10.25px 0px rgba(255, 205, 29, 0.38);
  --icon-orange-icon: 0px 6px 6px 0px rgba(255, 150, 27, 0.32);
  --icon-small-red-small: 0px 2px 5px 0px rgba(244, 38, 62, 0.16);
  --icon-small-cyan-small: 0px 3px 4px 0px rgba(63, 220, 255, 0.17);
  --icon-small-purple-small: 0px 1px 3px 0px rgba(120, 44, 228, 0.17);
  --icon-small-orange-small: 0px 2.1781935691833496px 4.356387138366699px 0px rgba(255, 150, 27, 0.37);
  --icon-small-yellow-small: 0px 1.1031876802444458px 2.7579689025878906px 0px rgba(255, 205, 29, 0.4);
  --icon-medium-red-medium: 0px 4.159846305847168px 11.092923164367676px 0px rgba(244, 38, 62, 0.21);
  --icon-medium-yellow-medium: 0px 3.1338906288146973px 4.178520679473877px 0px rgba(244, 186, 38, 0.41);
  --icon-medium-blue-medium: 0px 2.859450340270996px 10.285792350769043px 0px rgba(27, 118, 255, 0.28);
  --icon-medium-orange-medium: 0px 6.841799736022949px 15.964125633239746px 0px rgba(255, 150, 27, 0.22);
  --icon-large-blue-large: 0px 13.999184608459473px 16.799020767211914px 0px rgba(27, 118, 255, 0.19);
  --icon-large-orange-large: 0px 1.1258198022842407px 19.138938903808594px 0px rgba(255, 150, 27, 0.43);
  --icon-large-red-large: 0px 10px 24px 0px rgba(244, 38, 62, 0.21);
  --icon-large-yellow-large: 0px 10px 24px 0px rgba(255, 205, 29, 0.21);
}
