.ACSA-red-medica {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.ACSA-red-medica .div {
  background-color: var(--neutral-100);
  overflow: hidden;
  width: 1440px;
  height: 2581px;
  position: relative;
}

.ACSA-red-medica .footer {
  position: absolute;
  width: 1440px;
  height: 627px;
  top: 1954px;
  left: 0;
  background-color: transparent;
}

.ACSA-red-medica .line {
  width: 1440px;
  top: 0;
  left: 0;
  object-fit: cover;
  position: absolute;
  height: 1px;
}

.ACSA-red-medica .overlap {
  position: absolute;
  width: 350px;
  height: 149px;
  top: 91px;
  left: 116px;
}

.ACSA-red-medica .paragraph {
  position: absolute;
  width: 350px;
  top: 77px;
  left: 0;
  color: var(--neutral-600);
  font-size: var(--paragraph-default-font-size);
  letter-spacing: var(--paragraph-default-letter-spacing);
  line-height: var(--paragraph-default-line-height);
  font-family: var(--paragraph-default-font-family);
  font-weight: var(--paragraph-default-font-weight);
  font-style: var(--paragraph-default-font-style);
}

.ACSA-red-medica .logo {
  position: absolute;
  width: 203px;
  height: 78px;
  top: 0;
  left: 0;
}

.ACSA-red-medica .overlap-group {
  position: absolute;
  width: 350px;
  height: 62px;
  top: 281px;
  left: 116px;
  background-color: var(--neutral-100);
  border-radius: 10px;
  border: 1px solid;
  border-color: var(--neutral-400);
  box-shadow: var(--inputs-1);
}

.ACSA-red-medica .text-wrapper {
  position: absolute;
  width: 118px;
  top: 15px;
  left: 17px;
  color: var(--neutral-600);
  font-size: var(--paragraph-default-font-size);
  letter-spacing: var(--paragraph-default-letter-spacing);
  line-height: var(--paragraph-default-line-height);
  font-family: var(--paragraph-default-font-family);
  font-weight: var(--paragraph-default-font-weight);
  font-style: var(--paragraph-default-font-style);
}

.ACSA-red-medica .primary-BTN {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px 34px;
  position: absolute;
  top: 363px;
  left: 122px;
  background-color: var(--primaryazul-acsa);
  border-radius: 10px;
}

.ACSA-red-medica .button-text {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: var(--buttons-button-font-family);
  font-weight: var(--buttons-button-font-weight);
  color: var(--neutral-100);
  font-size: var(--buttons-button-font-size);
  text-align: center;
  letter-spacing: var(--buttons-button-letter-spacing);
  line-height: var(--buttons-button-line-height);
  white-space: nowrap;
  font-style: var(--buttons-button-font-style);
}

.ACSA-red-medica .spacer-delete-if-not {
  position: relative;
  width: 3px;
  height: 2px;
  background-color: var(--neutral-500);
  opacity: 0;
}

.ACSA-red-medica .img {
  width: 1209px;
  top: 526px;
  left: 116px;
  object-fit: cover;
  position: absolute;
  height: 1px;
}

.ACSA-red-medica .p {
  position: absolute;
  top: 563px;
  left: 924px;
  color: transparent;
  font-size: var(--footer-copyright-text-font-size);
  text-align: right;
  letter-spacing: var(--footer-copyright-text-letter-spacing);
  line-height: var(--footer-copyright-text-line-height);
  text-decoration: underline;
  white-space: nowrap;
  font-family: var(--footer-copyright-text-font-family);
  font-weight: var(--footer-copyright-text-font-weight);
  font-style: var(--footer-copyright-text-font-style);
}

.ACSA-red-medica .span {
  color: #62668a;
  font-family: var(--footer-copyright-text-font-family);
  font-style: var(--footer-copyright-text-font-style);
  font-weight: var(--footer-copyright-text-font-weight);
  letter-spacing: var(--footer-copyright-text-letter-spacing);
  line-height: var(--footer-copyright-text-line-height);
  font-size: var(--footer-copyright-text-font-size);
}

.ACSA-red-medica .text-wrapper-2 {
  color: #003a84;
  font-family: var(--footer-copyright-text-font-family);
  font-style: var(--footer-copyright-text-font-style);
  font-weight: var(--footer-copyright-text-font-weight);
  letter-spacing: var(--footer-copyright-text-letter-spacing);
  line-height: var(--footer-copyright-text-line-height);
  font-size: var(--footer-copyright-text-font-size);
}

.ACSA-red-medica .group {
  position: absolute;
  width: 155px;
  height: 206px;
  top: 125px;
  left: 602px;
}

.ACSA-red-medica .paragraph-2 {
  position: absolute;
  top: 38px;
  left: 0;
  font-family: var(--paragraph-default-font-family);
  font-weight: var(--paragraph-default-font-weight);
  color: var(--neutral-600);
  font-size: var(--paragraph-default-font-size);
  letter-spacing: var(--paragraph-default-letter-spacing);
  line-height: var(--paragraph-default-line-height);
  white-space: nowrap;
  font-style: var(--paragraph-default-font-style);
}

.ACSA-red-medica .paragraph-3 {
  position: absolute;
  top: 74px;
  left: 0;
  color: var(--neutral-600);
  font-size: var(--paragraph-default-font-size);
  letter-spacing: var(--paragraph-default-letter-spacing);
  line-height: var(--paragraph-default-line-height);
  white-space: nowrap;
  font-family: var(--paragraph-default-font-family);
  font-weight: var(--paragraph-default-font-weight);
  font-style: var(--paragraph-default-font-style);
}

.ACSA-red-medica .paragraph-4 {
  position: absolute;
  top: 110px;
  left: 0;
  color: var(--neutral-600);
  font-size: var(--paragraph-default-font-size);
  letter-spacing: var(--paragraph-default-letter-spacing);
  line-height: var(--paragraph-default-line-height);
  white-space: nowrap;
  font-family: var(--paragraph-default-font-family);
  font-weight: var(--paragraph-default-font-weight);
  font-style: var(--paragraph-default-font-style);
}

.ACSA-red-medica .paragraph-5 {
  position: absolute;
  top: 146px;
  left: 0;
  color: var(--neutral-600);
  font-size: var(--paragraph-default-font-size);
  letter-spacing: var(--paragraph-default-letter-spacing);
  line-height: var(--paragraph-default-line-height);
  white-space: nowrap;
  font-family: var(--paragraph-default-font-family);
  font-weight: var(--paragraph-default-font-weight);
  font-style: var(--paragraph-default-font-style);
}

.ACSA-red-medica .paragraph-6 {
  position: absolute;
  top: 182px;
  left: 0;
  color: var(--neutral-600);
  font-size: var(--paragraph-default-font-size);
  letter-spacing: var(--paragraph-default-letter-spacing);
  line-height: var(--paragraph-default-line-height);
  white-space: nowrap;
  font-family: var(--paragraph-default-font-family);
  font-weight: var(--paragraph-default-font-weight);
  font-style: var(--paragraph-default-font-style);
}

.ACSA-red-medica .paragraph-7 {
  position: absolute;
  top: 0;
  left: 0;
  color: var(--primaryazul-acsa);
  font-size: var(--other-subtitle-font-size);
  letter-spacing: var(--other-subtitle-letter-spacing);
  line-height: var(--other-subtitle-line-height);
  white-space: nowrap;
  font-family: var(--other-subtitle-font-family);
  font-weight: var(--other-subtitle-font-weight);
  font-style: var(--other-subtitle-font-style);
}

.ACSA-red-medica .group-2 {
  position: absolute;
  width: 172px;
  height: 242px;
  top: 125px;
  left: 860px;
}

.ACSA-red-medica .overlap-group-2 {
  position: absolute;
  width: 90px;
  height: 60px;
  top: 110px;
  left: 0;
}

.ACSA-red-medica .paragraph-8 {
  position: absolute;
  top: 0;
  left: 0;
  color: var(--neutral-600);
  font-size: var(--paragraph-default-font-size);
  letter-spacing: var(--paragraph-default-letter-spacing);
  line-height: var(--paragraph-default-line-height);
  font-family: var(--paragraph-default-font-family);
  font-weight: var(--paragraph-default-font-weight);
  font-style: var(--paragraph-default-font-style);
}

.ACSA-red-medica .paragraph-9 {
  position: absolute;
  top: 36px;
  left: 0;
  color: var(--neutral-600);
  font-size: var(--paragraph-default-font-size);
  letter-spacing: var(--paragraph-default-letter-spacing);
  line-height: var(--paragraph-default-line-height);
  white-space: nowrap;
  font-family: var(--paragraph-default-font-family);
  font-weight: var(--paragraph-default-font-weight);
  font-style: var(--paragraph-default-font-style);
}

.ACSA-red-medica .paragraph-10 {
  position: absolute;
  top: 218px;
  left: 0;
  color: var(--neutral-600);
  font-size: var(--paragraph-default-font-size);
  letter-spacing: var(--paragraph-default-letter-spacing);
  line-height: var(--paragraph-default-line-height);
  white-space: nowrap;
  font-family: var(--paragraph-default-font-family);
  font-weight: var(--paragraph-default-font-weight);
  font-style: var(--paragraph-default-font-style);
}

.ACSA-red-medica .mi-portal-wrapper {
  position: absolute;
  width: 102px;
  height: 141px;
  top: 122px;
  left: 1140px;
}

.ACSA-red-medica .mi-portal {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 17px;
  position: relative;
}

.ACSA-red-medica .paragraph-11 {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  color: var(--primaryazul-acsa);
  font-size: var(--other-subtitle-font-size);
  letter-spacing: var(--other-subtitle-letter-spacing);
  line-height: var(--other-subtitle-line-height);
  white-space: nowrap;
  font-family: var(--other-subtitle-font-family);
  font-weight: var(--other-subtitle-font-weight);
  font-style: var(--other-subtitle-font-style);
}

.ACSA-red-medica .paragraph-12 {
  position: relative;
  width: fit-content;
  color: var(--neutral-600);
  font-size: var(--paragraph-default-font-size);
  letter-spacing: var(--paragraph-default-letter-spacing);
  line-height: var(--paragraph-default-line-height);
  white-space: nowrap;
  font-family: var(--paragraph-default-font-family);
  font-weight: var(--paragraph-default-font-weight);
  font-style: var(--paragraph-default-font-style);
}

.ACSA-red-medica .redes-sociales {
  position: absolute;
  width: 245px;
  height: 45px;
  top: 554px;
  left: 118px;
}

.ACSA-red-medica .header {
  position: absolute;
  width: 1440px;
  height: 114px;
  top: 47px;
  left: 0;
  background-color: transparent;
}

.ACSA-red-medica .overlap-2 {
  position: relative;
  width: 1440px;
  height: 159px;
  top: -45px;
  background-color: var(--neutral-100);
}

.ACSA-red-medica .dropdown {
  display: flex;
  width: 73px;
  height: 18px;
  align-items: center;
  justify-content: center;
  gap: 8px;
  position: absolute;
  top: 93px;
  left: 800px;
}

.ACSA-red-medica .nav-link {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: var(--other-nav-link-item-font-family);
  font-weight: var(--other-nav-link-item-font-weight);
  color: var(--neutral-700);
  font-size: var(--other-nav-link-item-font-size);
  letter-spacing: var(--other-nav-link-item-letter-spacing);
  line-height: var(--other-nav-link-item-line-height);
  white-space: nowrap;
  font-style: var(--other-nav-link-item-font-style);
}

.ACSA-red-medica .group-3 {
  position: relative;
  width: 9.23px;
  height: 5px;
  margin-right: -0.5px;
}

.ACSA-red-medica .dropdown-2 {
  width: 93px;
  left: 649px;
  display: flex;
  height: 18px;
  align-items: center;
  justify-content: center;
  gap: 8px;
  position: absolute;
  top: 93px;
}

.ACSA-red-medica .nav-link-2 {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  margin-left: -3.11px;
  font-family: var(--other-nav-link-item-font-family);
  font-weight: var(--other-nav-link-item-font-weight);
  color: var(--neutral-700);
  font-size: var(--other-nav-link-item-font-size);
  letter-spacing: var(--other-nav-link-item-letter-spacing);
  line-height: var(--other-nav-link-item-line-height);
  white-space: nowrap;
  font-style: var(--other-nav-link-item-font-style);
}

.ACSA-red-medica .group-4 {
  position: relative;
  width: 9.23px;
  height: 5px;
  margin-right: -3.61px;
}

.ACSA-red-medica .dropdown-3 {
  width: 128px;
  left: 930px;
  display: flex;
  height: 18px;
  align-items: center;
  justify-content: center;
  gap: 8px;
  position: absolute;
  top: 93px;
}

.ACSA-red-medica .primary-BTN-2 {
  display: flex;
  flex-direction: column;
  width: 90px;
  height: 50px;
  align-items: center;
  justify-content: center;
  padding: 16px 22px;
  position: absolute;
  top: 77px;
  left: 1204px;
  background-color: var(--primaryazul-acsa);
  border-radius: 10px;
}

.ACSA-red-medica .button-text-2 {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  margin-left: -6px;
  margin-right: -6px;
  font-family: var(--buttons-small-button-font-family);
  font-weight: var(--buttons-small-button-font-weight);
  color: var(--neutral-100);
  font-size: var(--buttons-small-button-font-size);
  text-align: center;
  letter-spacing: var(--buttons-small-button-letter-spacing);
  line-height: var(--buttons-small-button-line-height);
  white-space: nowrap;
  font-style: var(--buttons-small-button-font-style);
}

.ACSA-red-medica .logo-2 {
  position: absolute;
  width: 179px;
  height: 69px;
  top: 66px;
  left: 116px;
}

.ACSA-red-medica .group-5 {
  position: absolute;
  width: 28px;
  height: 28px;
  top: 88px;
  left: 1114px;
}

.ACSA-red-medica .emergencias {
  position: absolute;
  top: 18px;
  left: 118px;
  font-family: var(--other-blog-card-date-font-family);
  font-weight: var(--other-blog-card-date-font-weight);
  color: var(--neutral-600);
  font-size: var(--other-blog-card-date-font-size);
  letter-spacing: var(--other-blog-card-date-letter-spacing);
  line-height: var(--other-blog-card-date-line-height);
  white-space: nowrap;
  font-style: var(--other-blog-card-date-font-style);
}

.ACSA-red-medica .redes-sociales-2 {
  position: absolute;
  width: 144px;
  height: 26px;
  top: 13px;
  left: 1159px;
}

.ACSA-red-medica .line-2 {
  width: 1207px;
  top: 50px;
  left: 116px;
  position: absolute;
  height: 1px;
}

.ACSA-red-medica .overlap-3 {
  position: absolute;
  width: 1556px;
  height: 380px;
  top: 232px;
  left: -37px;
}

.ACSA-red-medica .rectangle {
  position: absolute;
  width: 1556px;
  height: 349px;
  top: 31px;
  left: 0;
  background-color: var(--neutral-200);
}

.ACSA-red-medica .undraw-medicine-b {
  position: absolute;
  width: 507px;
  height: 360px;
  top: 0;
  left: 721px;
}

.ACSA-red-medica .red-de-atenci-n-m {
  position: absolute;
  top: 177px;
  left: 264px;
  font-family: var(--headings-h1-font-family);
  font-weight: var(--headings-h1-font-weight);
  color: var(--primaryazul-acsa);
  font-size: var(--headings-h1-font-size);
  letter-spacing: var(--headings-h1-letter-spacing);
  line-height: var(--headings-h1-line-height);
  font-style: var(--headings-h1-font-style);
}

.ACSA-red-medica .heading {
  width: 687px;
  top: 667px;
  left: 377px;
  text-shadow: 0px 2px 4px #de294a0d;
  font-weight: 400;
  color: var(--primaryazul-acsa);
  font-size: 20px;
  text-align: center;
  letter-spacing: -0.2px;
  position: absolute;
  font-family: "Roboto", Helvetica;
  line-height: 32px;
  box-shadow: var(--titles-heading-h1);
}

.ACSA-red-medica .text-wrapper-3 {
  font-family: var(--paragraphs-large-mobile-font-family);
  font-weight: var(--paragraphs-large-mobile-font-weight);
  color: #003a84;
  font-size: var(--paragraphs-large-mobile-font-size);
  letter-spacing: var(--paragraphs-large-mobile-letter-spacing);
  line-height: var(--paragraphs-large-mobile-line-height);
  font-style: var(--paragraphs-large-mobile-font-style);
}

.ACSA-red-medica .text-wrapper-4 {
  font-weight: 700;
}

.ACSA-red-medica .overlap-wrapper {
  position: absolute;
  width: 778px;
  height: 116px;
  top: 913px;
  left: 543px;
}

.ACSA-red-medica .overlap-4 {
  position: relative;
  width: 774px;
  height: 116px;
  background-color: var(--neutral-100);
  border-radius: 23px;
  border: 0.5px solid;
  border-color: var(--neutral-400);
  box-shadow: var(--shadows-shadow-1);
}

.ACSA-red-medica .text-wrapper-5 {
  position: absolute;
  top: 28px;
  left: 40px;
  font-family: var(--other-subtitle-font-family);
  font-weight: var(--other-subtitle-font-weight);
  color: var(--primaryazul-acsa);
  font-size: var(--other-subtitle-font-size);
  letter-spacing: var(--other-subtitle-letter-spacing);
  line-height: var(--other-subtitle-line-height);
  white-space: nowrap;
  font-style: var(--other-subtitle-font-style);
}

.ACSA-red-medica .accordion-arrow-open {
  position: absolute;
  width: 40px;
  height: 40px;
  top: 36px;
  left: 693px;
  background-color: var(--neutral-100);
  border-radius: 7px;
  border: 1px solid;
  border-color: var(--neutral-300);
  transform: rotate(-90deg);
  box-shadow: var(--inputs-arrow-closed);
}

.ACSA-red-medica .group-6 {
  position: absolute;
  width: 20px;
  height: 30px;
  top: 5px;
  left: 7px;
  transform: rotate(90deg);
}

.ACSA-red-medica .heading-h {
  top: 52px;
  left: 40px;
  font-weight: var(--headings-h3-font-weight);
  color: var(--neutral-700);
  font-size: var(--headings-h3-font-size);
  letter-spacing: var(--headings-h3-letter-spacing);
  white-space: nowrap;
  position: absolute;
  font-family: var(--headings-h3-font-family);
  line-height: var(--headings-h3-line-height);
  font-style: var(--headings-h3-font-style);
}

.ACSA-red-medica .overlap-group-wrapper {
  position: absolute;
  width: 778px;
  height: 116px;
  top: 1061px;
  left: 543px;
}

.ACSA-red-medica .div-wrapper {
  position: absolute;
  width: 778px;
  height: 116px;
  top: 1209px;
  left: 543px;
}

.ACSA-red-medica .group-7 {
  position: absolute;
  width: 778px;
  height: 116px;
  top: 1357px;
  left: 543px;
}

.ACSA-red-medica .group-8 {
  position: absolute;
  width: 778px;
  height: 116px;
  top: 1508px;
  left: 543px;
}

.ACSA-red-medica .group-9 {
  position: absolute;
  width: 778px;
  height: 116px;
  top: 1656px;
  left: 543px;
}

.ACSA-red-medica .group-10 {
  position: absolute;
  width: 778px;
  height: 116px;
  top: 1804px;
  left: 543px;
}

.ACSA-red-medica .text-wrapper-6 {
  position: absolute;
  top: 940px;
  left: 171px;
  font-family: var(--paragraph-default-font-family);
  font-weight: var(--paragraph-default-font-weight);
  color: var(--primaryazul-acsa);
  font-size: var(--paragraph-default-font-size);
  text-align: center;
  letter-spacing: var(--paragraph-default-letter-spacing);
  line-height: var(--paragraph-default-line-height);
  white-space: nowrap;
  font-style: var(--paragraph-default-font-style);
}

.ACSA-red-medica .text-wrapper-7 {
  position: absolute;
  top: 980px;
  left: 171px;
  font-family: var(--paragraph-default-font-family);
  font-weight: var(--paragraph-default-font-weight);
  color: var(--primaryazul-acsa);
  font-size: var(--paragraph-default-font-size);
  text-align: center;
  letter-spacing: var(--paragraph-default-letter-spacing);
  line-height: var(--paragraph-default-line-height);
  white-space: nowrap;
  font-style: var(--paragraph-default-font-style);
}

.ACSA-red-medica .text-wrapper-8 {
  position: absolute;
  top: 1022px;
  left: 171px;
  font-family: var(--paragraph-default-font-family);
  font-weight: var(--paragraph-default-font-weight);
  color: var(--primaryazul-acsa);
  font-size: var(--paragraph-default-font-size);
  text-align: center;
  letter-spacing: var(--paragraph-default-letter-spacing);
  line-height: var(--paragraph-default-line-height);
  white-space: nowrap;
  font-style: var(--paragraph-default-font-style);
}

.ACSA-red-medica .text-wrapper-9 {
  position: absolute;
  top: 1062px;
  left: 171px;
  font-family: var(--paragraph-default-font-family);
  font-weight: var(--paragraph-default-font-weight);
  color: var(--primaryazul-acsa);
  font-size: var(--paragraph-default-font-size);
  text-align: center;
  letter-spacing: var(--paragraph-default-letter-spacing);
  line-height: var(--paragraph-default-line-height);
  white-space: nowrap;
  font-style: var(--paragraph-default-font-style);
}

.ACSA-red-medica .group-wrapper {
  position: absolute;
  width: 22px;
  height: 22px;
  top: 943px;
  left: 116px;
}

.ACSA-red-medica .icon-check-growth-wrapper {
  position: relative;
  height: 22px;
  background-color: var(--primaryazul-acsa);
  border-radius: 5px;
}

.ACSA-red-medica .icon-check-growth {
  position: absolute;
  width: 12px;
  height: 12px;
  top: 5px;
  left: 5px;
}

.ACSA-red-medica .group-11 {
  position: absolute;
  width: 22px;
  height: 22px;
  top: 988px;
  left: 116px;
  background-color: var(--neutral-100);
  border-radius: 4px;
  border: 1px solid;
  border-color: var(--neutral-400);
  box-shadow: var(--inputs-check-boxes-inner);
}

.ACSA-red-medica .group-12 {
  position: absolute;
  width: 22px;
  height: 22px;
  top: 1025px;
  left: 116px;
  background-color: var(--neutral-100);
  border-radius: 4px;
  border: 1px solid;
  border-color: var(--neutral-400);
  box-shadow: var(--inputs-check-boxes-inner);
}

.ACSA-red-medica .group-13 {
  position: absolute;
  width: 22px;
  height: 22px;
  top: 1062px;
  left: 116px;
  background-color: var(--neutral-100);
  border-radius: 4px;
  border: 1px solid;
  border-color: var(--neutral-400);
  box-shadow: var(--inputs-check-boxes-inner);
}
